<html>
    <head>
        <title>cek usia</title>
    </head>
    <body>
        <h1> Pengecekan usia berdasarkan tahun lahir</h1>
        <form method="POST" action="/usia"> 
            <label>masukkan tahun lahir</label>
            <input type="number" name="tahun_lahir" />
            <button type="submit">hitung usia</button>
        </form>
        
        {% if usia is not none %}
        <p>usia anda saat ini adalah {{usia}} tahun</p>
        {% endif %}
        
        <a href="/">kembali ke halaman utama</a>
     </body>
 </html>